<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Руководитель</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/admin.min.css'>
</head>
<body>
<div class="app">
    <div class="main">
    	<div class="burger">
    		<span></span>
    		<span></span>
    		<span></span>
    	</div>
        <div class="sidebar">
            <div class="logo">
                <img src="./img/logo.svg" alt="лого">
                <img src="./img/logo-text.svg">
            </div>
            <div class="menager-name">
                <div class="menager-img" style="background-image: url('./img/marta.jpg');">
                    <div class="menager-camera">
                        <span class="icon-camera"></span>
                    </div>
                </div>
                <div class="menager-name__name">Марчук Марта Олеговна </div>
            </div>
            <div class="menu">
                <a href="" class="menu__item active"><span class=" icon-punkt"></span>Пункт назначения</a>
                <a href="" class="menu__item"><span class="icon-ocenka"></span>Оценка результативности</a>
                <a href="" class="menu__item"><span class="icon-prof"></span>Оценка проф. компетенций</a>
                <a href="" class="menu__item"><span class="icon-yrmarka"></span>Ярмарка кандидатов</a>
                <a href="" class="menu__item"><span class="icon-individual"></span>Индивидуальный план</a>
            </div>
            <div class="menu__bot">
                <a href="">Выход</a>
            </div>
            <div class="sidebar__close">
            	<img src="./img/closesvg.svg">
            </div>
        </div>
        <div class="content">
            <div class="leader-wrap">
                <div class="leader-header">
                    <div class="leader-row">
                        <div class="leader-col">
                            <div class="leader-section">
                                <div class="leader-card">
                                    <div class="leader-card__img">
                                        <div class="menager-img" style="background-image: url('./img/marta.jpg');">
                                            <div class="menager-camera">
                                                <span class="icon-camera"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="leader-card__name">Марчук Марта Олеговна </div>
                                </div>
                            </div>
                        </div>
                        <div class="leader-col">
                            <div class="leader-section">
                                <div class="section-info">
                                    <div class="section-info__item">
                                        <div class="section-info__caption">Регион текущий:</div>
                                        <div class="section-info__name">Ростов на дону</div>
                                    </div>
                                    <div class="section-info__item">
                                        <div class="section-info__caption">Должность</div>
                                        <div class="section-info__name">Руководитель</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="leader-col leader-col--sm">
                            <div class="leader-section">
                                <div class="staff-section">
                                    <div class="staff-section__label">У вас в системе<br> <b>100</b> сотрудников для оценки</div>
                                    <div class="staff-section__link-wrap">
                                        <a href="" class="staff-section__link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info leader-info-wrap">
                    <div class="info__title">
                        Общая информация
                    </div>
                    <div class="info__wrap">
                        <div class="info__item">
                            <div class="info__label">Регион текущий: </div>
                            <div class="info__text">Ростов на дону  </div>
                        </div>
                        <div class="info__item slide">
                            <div class="info__label">Выбранные для переезда регионы</div>
                            <div class="info__text">Москва</div>
                            <div class="info-text__wrap">
                                <div class="info__text">Санкт-Петербург</div>
                                <div class="info__text">Ростов</div>
                                <div class="info__text">Воронеж</div>
                            </div>
                           
                            <div class="slide"><span class="icon-arrow"></span></div>
                        </div>
                        <div class="info__item">
                            <div class="info__label">Текущая должность сотрудника: </div>
                            <div class="info__text">Менеджер</div>
                        </div>
                        <div class="info__item">
                            <div class="info__label">Желаемая должность:   </div>
                            <div class="info__text">Старший менеджер</div>
                        </div>
                        <div class="info__item">
                            <div class="info__label">Руководитель сотрудника: </div>
                            <div class="info__text">Васелюк Оксана Олеговна </div>
                        </div>
                    </div>
                    <img class="info-img" src="./img/info.png">
                    <div class="info-control">
                        <span class="icon-man"></span>
                    </div>
                </div>
                <div class="leader-content">
                    <h1 class="title-sm-section">Сотрудники</h1>
                    <div class="filter-row">
                        <div class="filter-col">
                            <div class="punkt__select">
                                <span class="icon-map"></span>
                                <input placeholder="Виберете нужний город">
                                <div class="punkt__select__arr"></div>
                                <ul class="select-toggle">
                                    <li>Москва</li>
                                    <li>Саратов</li>
                                    <li>Город2</li>
                                    <li>Город3</li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-col">
                            <div class="punkt__select">
                                <span class="icon-man"></span>
                                <input placeholder="Виберете нужною должность">
                                <div class="punkt__select__arr"></div>
                                <ul class="select-toggle">
                                    <li>Текст</li>
                                    <li>Текст</li>
                                    <li>Текст</li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-col filter-col--rating">
                            <a href="" class="rating-link"><span class="icon-potencial"></span>Оценка потенциала</a>
                        </div>
                    </div>
                    <div class="employees-row">
                        <div class="employees-item">
                            <div class="employees-item__more"><span class="icon-arrow"></span></div>
                            <div class="employees-card">
                                <div class="employees-card__inner">
                                    <a href="" class="edit-btn"><span class="pencil-icon"></span></a>
                                    <div class="employees-card__author author-employees">
                                        <div class="author-employees__img">
                                            <div class="menager-img" style="background-image: url('./img/marta.jpg');">
                                                <div class="menager-camera">
                                                    <span class="icon-camera"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="author-employees__content">
                                            <div class="author-employees__name">Марчук Марта Олеговна </div>
                                            <div class="place-col">
                                                <div class="place-col__numer"><b>8/</b>100</div>
                                                <div class="place-col__label">Место</div>
                                            </div>
                                        </div>
                                        <div class="yrmakrka__info__block1">
                                            <div class="yrmakrka__info__block1__1">Текущий этап:</div>
                                            <div class="yrmakrka__info__block1__2">
                                                <span class="icon-man"></span>
                                                Оценка потенциала
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="employees-card__content">
                                        <div class="employees-card__info">
                                            <div class="section-info">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Регион текущий:</div>
                                                    <div class="section-info__name">Ростов на дону</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Выбраный для переезда регион</div>
                                                    <div class="section-info__name">Москва</div>
                                                </div>
                                            </div>
                                            <div class="section-info hide">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Текущая должность сотрудника</div>
                                                    <div class="section-info__name">Менеджен</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Желаемая должность</div>
                                                    <div class="section-info__name">Старший менеджер</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="employees-card__chedule">
                                            <img src="img/schedule.svg" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="employees-item__wrap">
                                <div class="yrmakrka__ventel">
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Корпоративные компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Потенциал
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                           Управленческие 
                                            компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Результативность
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Профессиональные  компетенции
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employees-item">
                            <div class="employees-item__more"><span class="icon-arrow"></span></div>
                            <div class="employees-card">
                                <div class="employees-card__inner">
                                    <a href="" class="edit-btn"><span class="pencil-icon"></span></a>
                                    <div class="employees-card__author author-employees">
                                        <div class="author-employees__img">
                                            <div class="menager-img" style="background-image: url('./img/marta.jpg');">
                                                <div class="menager-camera">
                                                    <span class="icon-camera"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="author-employees__content">
                                            <div class="author-employees__name">Марчук Марта Олеговна </div>
                                            <div class="place-col">
                                                <div class="place-col__numer"><b>8/</b>100</div>
                                                <div class="place-col__label">Место</div>
                                            </div>
                                        </div>
                                        <div class="yrmakrka__info__block1">
                                            <div class="yrmakrka__info__block1__1">Текущий этап:</div>
                                            <div class="yrmakrka__info__block1__2">
                                                <span class="icon-man"></span>
                                                Оценка потенциала
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="employees-card__content">
                                        <div class="employees-card__info">
                                            <div class="section-info">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Регион текущий:</div>
                                                    <div class="section-info__name">Ростов на дону</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Выбраный для переезда регион</div>
                                                    <div class="section-info__name">Москва</div>
                                                </div>
                                            </div>
                                            <div class="section-info hide">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Текущая должность сотрудника</div>
                                                    <div class="section-info__name">Менеджен</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Желаемая должность</div>
                                                    <div class="section-info__name">Старший менеджер</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="employees-card__chedule">
                                            <img src="img/schedule.svg" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="employees-item__wrap">
                                <div class="yrmakrka__ventel">
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Корпоративные компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Потенциал
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                           Управленческие 
                                            компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Результативность
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Профессиональные  компетенции
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employees-item">
                            <div class="employees-item__more"><span class="icon-arrow"></span></div>
                            <div class="employees-card">
                                <div class="employees-card__inner">
                                    <a href="" class="edit-btn"><span class="pencil-icon"></span></a>
                                    <div class="employees-card__author author-employees">
                                        <div class="author-employees__img">
                                            <div class="menager-img" style="background-image: url('./img/marta.jpg');">
                                                <div class="menager-camera">
                                                    <span class="icon-camera"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="author-employees__content">
                                            <div class="author-employees__name">Марчук Марта Олеговна </div>
                                            <div class="place-col">
                                                <div class="place-col__numer"><b>8/</b>100</div>
                                                <div class="place-col__label">Место</div>
                                            </div>
                                        </div>
                                        <div class="yrmakrka__info__block1">
                                            <div class="yrmakrka__info__block1__1">Текущий этап:</div>
                                            <div class="yrmakrka__info__block1__2">
                                                <span class="icon-man"></span>
                                                Оценка потенциала
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="employees-card__content">
                                        <div class="employees-card__info">
                                            <div class="section-info">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Регион текущий:</div>
                                                    <div class="section-info__name">Ростов на дону</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Выбраный для переезда регион</div>
                                                    <div class="section-info__name">Москва</div>
                                                </div>
                                            </div>
                                            <div class="section-info hide">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Текущая должность сотрудника</div>
                                                    <div class="section-info__name">Менеджен</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Желаемая должность</div>
                                                    <div class="section-info__name">Старший менеджер</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="employees-card__chedule">
                                            <img src="img/schedule.svg" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="employees-item__wrap">
                                <div class="yrmakrka__ventel">
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Корпоративные компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Потенциал
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                           Управленческие 
                                            компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Результативность
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Профессиональные  компетенции
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employees-item">
                            <div class="employees-item__more"><span class="icon-arrow"></span></div>
                            <div class="employees-card">
                                <div class="employees-card__inner">
                                    <a href="" class="edit-btn"><span class="pencil-icon"></span></a>
                                    <div class="employees-card__author author-employees">
                                        <div class="author-employees__img">
                                            <div class="menager-img" style="background-image: url('./img/marta.jpg');">
                                                <div class="menager-camera">
                                                    <span class="icon-camera"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="author-employees__content">
                                            <div class="author-employees__name">Марчук Марта Олеговна </div>
                                            <div class="place-col">
                                                <div class="place-col__numer"><b>8/</b>100</div>
                                                <div class="place-col__label">Место</div>
                                            </div>
                                        </div>
                                        <div class="yrmakrka__info__block1">
                                            <div class="yrmakrka__info__block1__1">Текущий этап:</div>
                                            <div class="yrmakrka__info__block1__2">
                                                <span class="icon-man"></span>
                                                Оценка потенциала
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="employees-card__content">
                                        <div class="employees-card__info">
                                            <div class="section-info">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Регион текущий:</div>
                                                    <div class="section-info__name">Ростов на дону</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Выбраный для переезда регион</div>
                                                    <div class="section-info__name">Москва</div>
                                                </div>
                                            </div>
                                            <div class="section-info hide">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Текущая должность сотрудника</div>
                                                    <div class="section-info__name">Менеджен</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Желаемая должность</div>
                                                    <div class="section-info__name">Старший менеджер</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="employees-card__chedule">
                                            <img src="img/schedule.svg" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="employees-item__wrap">
                                <div class="yrmakrka__ventel">
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Корпоративные компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Потенциал
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                           Управленческие 
                                            компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Результативность
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Профессиональные  компетенции
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employees-item">
                            <div class="employees-item__more"><span class="icon-arrow"></span></div>
                            <div class="employees-card">
                                <div class="employees-card__inner">
                                    <a href="" class="edit-btn"><span class="pencil-icon"></span></a>
                                    <div class="employees-card__author author-employees">
                                        <div class="author-employees__img">
                                            <div class="menager-img" style="background-image: url('./img/marta.jpg');">
                                                <div class="menager-camera">
                                                    <span class="icon-camera"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="author-employees__content">
                                            <div class="author-employees__name">Марчук Марта Олеговна </div>
                                            <div class="place-col">
                                                <div class="place-col__numer"><b>8/</b>100</div>
                                                <div class="place-col__label">Место</div>
                                            </div>
                                        </div>
                                        <div class="yrmakrka__info__block1">
                                            <div class="yrmakrka__info__block1__1">Текущий этап:</div>
                                            <div class="yrmakrka__info__block1__2">
                                                <span class="icon-man"></span>
                                                Оценка потенциала
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="employees-card__content">
                                        <div class="employees-card__info">
                                            <div class="section-info">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Регион текущий:</div>
                                                    <div class="section-info__name">Ростов на дону</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Выбраный для переезда регион</div>
                                                    <div class="section-info__name">Москва</div>
                                                </div>
                                            </div>
                                            <div class="section-info hide">
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Текущая должность сотрудника</div>
                                                    <div class="section-info__name">Менеджен</div>
                                                </div>
                                                <div class="section-info__item">
                                                    <div class="section-info__caption">Желаемая должность</div>
                                                    <div class="section-info__name">Старший менеджер</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="employees-card__chedule">
                                            <img src="img/schedule.svg" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="employees-item__wrap">
                                <div class="yrmakrka__ventel">
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Корпоративные компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Потенциал
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                           Управленческие 
                                            компетенции
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Результативность
                                        </div>
                                    </div>
                                    <div class="yrmakrka__ventel__item">
                                        <div class="yrmakrka__ventel__img">
                                            <img src="./img/ventel4.png">
                                            <span style="color: #36AFC2;">4</span>
                                        </div>
                                        <div class="yrmakrka__ventel__text">
                                            Профессиональные  компетенции
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/e-smart-zoom-jquery.js"></script>
<script src="./js/fancybox.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>